.table-container {
    width: 90%;
    margin: 150px auto 120px auto ; /* Add space from top */ 
    background: #0F1156;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
}

.gradient-table {
    width: 100%;
    border-collapse: collapse;
}

.gradient-table thead {
    background: linear-gradient(to right, #0F1156, #2575fc);
    color: white;
}

.gradient-table th, .gradient-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    animation: slideIn 1s ease-in-out;
    color: white;
}

.gradient-table tbody tr:nth-child(odd) {
    background: linear-gradient(to right, #1E1E80, #3838B8);
}

.gradient-table tbody tr:nth-child(even) {
    background: linear-gradient(to right, #3838B8, #1E1E80);
}

.gradient-table tr:hover {
    background: rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Responsive Design */
@media (min-width: 800px) {
    .gradient-table th, .gradient-table td {
        padding: 10px;
    }

    .gradient-table {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .gradient-table th, .gradient-table td {
        padding: 8px;
    }

    .gradient-table {
        font-size: 10px;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    .gradient-table th, .gradient-table td {
        padding: 8px;
    }

    .gradient-table {
        font-size: 6px;
    }
    #design{
        font-size: 15px;
    }
}

@media (max-width: 400px)  {
    .gradient-table th, .gradient-table td {
        padding: 6px;
    }

    .gradient-table {
        font-size: 6px;
    }
    #design{
        font-size: 15px;
    }
}